<div class="variationCont">
    <div class="variationHeadingCont" (click)="opened = !opened">
        <h3>Hard Drive</h3>
        <span [class.accInactive]="!opened">{{opened ? '—' : '+'}}</span>
    </div>
    <div id="hddVarContainer" class="variationItemsCont" [style.height.px]="opened ? totalCollapseH : '0'">
        <div *ngFor="let hvar of hddVarList" class="variationItems">
            <div class="selection">
                <input type="checkbox"><span class="selectionText">{{hvar.type}}</span>
            </div>
            <span class="variationItemCount">{{hvar.count | currency: " ":"symbol":"1.0"}}</span>
        </div>
    </div>
</div>