<div class="container-fluid footer">
	<div class="subscribeCont">
		<div class="flexItem">
			<i class="fa fa-envelope"></i>
			<div class="textContainer">
				<h3>EMAIL SUPPORT</h3>
				<a routerLink="/">help@konga.com</a>
			</div>
		</div>
		<div class="flexItem">
			<i class="fa fa-phone"></i>
			<div class="textContainer">
				<h3>EMAIL SUPPORT</h3>
				<a routerLink="/">0708 063 5700</a><a routerLink="/">, 0809 460 5555</a>
			</div>
		</div>
		<div class="flexItem">
			<div class="textContainer">
				<h3>EMAIL SUPPORT</h3>
				<p>Our best promotions sent to your inbox.</p>
			</div>
		</div>
		<div class="subscribeInput">
			<div class="input-group">
		    <input type="search" class="form-control" placeholder="Email Address">
		    <div class="input-group-append">
		      <button class="">Subscribe</button>
		    </div>
		  </div>
		</div>
	</div>
	<div class="gridSection">
		<div class="gridCont">
			<div class="gridItem">
				<h4>ABOUT KONGA</h4>
				<a routerLink="/">Contact Us</a>
				<a routerLink="/">About Us</a>
				<a routerLink="/">Careers</a>
				<a routerLink="/">Our Blog</a>
				<a routerLink="/">Forum</a>
				<a routerLink="/">Terms & Conditions</a>
			</div>
			<div class="gridItem">
				<h4>PAYMENT</h4>
				<a routerLink="/">Contact Us</a>
				<a routerLink="/">About Us</a>
				<a routerLink="/">Careers</a>
				<a routerLink="/">Our Blog</a>
				<a routerLink="/">Forum</a>
				<a routerLink="/">Terms & Conditions</a>
			</div>
			<div class="gridItem">
				<h4>BUYING ON KONGA</h4>
				<a routerLink="/">Contact Us</a>
				<a routerLink="/">About Us</a>
				<a routerLink="/">Careers</a>
				<a routerLink="/">Our Blog</a>
				<a routerLink="/">Forum</a>
				<a routerLink="/">Terms & Conditions</a>
			</div>
			<div class="gridItem">
				<h4>MORE INFO</h4>
				<a routerLink="/">Contact Us</a>
				<a routerLink="/">About Us</a>
				<a routerLink="/">Careers</a>
				<a routerLink="/">Our Blog</a>
				<a routerLink="/">Forum</a>
				<a routerLink="/">Terms & Conditions</a>
			</div>
		</div>
		<div class="contactSection">
			<h4>DOWNLOAD & CONNECT WITH US</h4>
			<div class="appDownloadCont">
				<a routerLink="/">
					<div class="apple">
						<i class="fa fa-apple"></i>
						<div class="textCont">
							<p>Download on</p>
							<h5>App Store</h5>
						</div>
					</div>
				</a>
				<a routerLink="/">
					<div class="google">
						<i class="fa fa-apple"></i>
						<div class="textCont">
							<p>Download on</p>
							<h5>Google Play</h5>
						</div>
					</div>
				</a>
			</div>
			<div class="connectWithUs">
				<h4>CONNECT WITH US</h4>
				<div class="socialCont">
					<a routerLink="/" class="facebookIco"><i class="fa fa-facebook"></i></a>
					<a routerLink="/" class="twitterIco"><i class="fa fa-twitter"></i></a>
					<a routerLink="/" class="instIco"><i class="fa fa-instagram"></i></a>
					<a routerLink="/" class="youtubeIco"><i class="fa fa-youtube-play"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="divider">
			<div></div>
		</div>
			<p>Copyright © 2020 Konga.com. All rights reserved</p>
		<div class="divider">
			<div></div>
		</div>
	</div>
</div>