.imageContainer {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	overflow: hidden;
}

.gridCont {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 20px;
}

.flexItem {
	width: 188.94px;
	margin: 0 0 20px 0px;
	height: 184px;
}