<div class="orderItem">
    <div class="itemInfo">
        <a routerLink="/" class="imageCont">
            <img src="assets/images/catlisttop/3.jpg" class="w-100">
        </a>
        <div class="itemTextInfo">
            <a routerLink="/">Ideapad 330 - Intel Celeron - 15.6" - 4GB sadfasdfdsf</a>
            <p>Sold by <a routerLink="/">Harryfaith System Nig Ltd</a></p>
        </div>
    </div>
    <div class="qantPriceCont">
        <div class="quantityCont">
            <span class="quantText">Quantity:</span>
            <div class="increSection">
                <div class="quantInput">
                    <button><span class="minus"></span></button>
                    <span class="quantVal">1</span>
                    <button>
                <span class="plus">
                    <span class="vert"></span>
                    <span class="plus2">
                        <span class="horz"></span>
                    </span>
                </span>
            </button>
                </div>
                <!-- <span class="error">You can only buy 1 item</span> -->
            </div>
        </div>
        <div class="itemPrice">
            <h3><span>N</span>{{100000 |number}}</h3>
            <div><span><span>N</span>{{100000 |number}}</span> X {{1}} item</div>
        </div>
    </div>
    <div class="action">
        <button><i class="fa fa-times-circle"></i><span>Remove Item</span></button>
        <button><i class="fa fa-heart"></i><span>Save for Later</span></button>
    </div>
</div>