@import '../spons-prod-slider/spons-prod-slider.component.scss';

.topCatListProdCont {
	width: 100%;
	position: relative;
	background: transparent;
	padding-bottom: 10px;
	margin-bottom: 30px;
	border-radius: 0 0 5px 5px;
	height: 335px;
	overflow: hidden;
}

.sponsProdCont {
	padding: 0;
}

.percOff {
	font-weight: bold;
}