.container-fluid {
	padding: 9px !important;
}

.centerContent {
	width: fit-content;
	margin: auto;
	/*padding: 10px;*/
}

.centerContent span {
	display: inline-block;
	margin-left: 50px;
	height: 18px;
}