<a routerLink="/" class="prodItem">
    <span class="percOff">{{(((50500 - 43000)/50500) * 100) | number: "1.0-0"}}% OFF</span>
    <div class="imgContainer">
        <img src="assets/images/recomprod/2.jpg" class="h-100">
    </div>
    <h3 class="prodName">Microsoft Office 365 Home 5 PCs or Maasdfsadfsdf</h3>
    <div class="itemPrice">
        <span class="sellPrice"><span>N</span>{{43000 | number}}</span>
        <span class="genPrice"><span>N</span>{{50500 |number}}</span>
    </div>
    <div class="itemSaveText">You save <span>N</span>{{(50500 - 43000) |number}}</div>
    <div class="itemRating">
        <span class="star5">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </span>
        <span class="itemRatingText">(<span>{{18}}</span> Reviews)</span>
    </div>
</a>