<!-- <div class="desktop">
    <app-search-header></app-search-header>
</div>
<app-menu-bar></app-menu-bar> -->
<div class="container-fluid loginParent">
    <img class="logo" src="assets/images/logo-alternate.png">
    <div class="centerCont">
        <h2 class="heading text-center">Enter the PIN sent to your phone</h2>
        <div class="padding">
            <form>
                <div class="notification">
                    You will receive a 4-digit code on your phone in the next 2 minutes. Please enter the code below to complete your account registration.
                </div>
                <div class="emailAddress">
                    <label>Enter Code</label>
                    <input class="emailInput" type="text" placeholder="">
                </div>
                <button>Submit Code</button>
            </form>
            <div class="termsCondition text-center">
                I didn't receive the code. <a routerLink="/">Resend</a>
            </div>
        </div>
        <div class="login text-center">
            <h3>Still did not receive the verification code?</h3>
            <div>Email customer support at <a routerLink="/">help@konga.com</a></div>
            <div>Use our live chat</div>
            <div>Call us on: <a href="tel:07080635700">07080635700</a> or <a href="tel:08094605555">08094605555</a>
            </div>
        </div>
    </div>
</div>