<div class="contentSection">
    <h2 class="contentHead">Account Information</h2>
    <form>
        <div class="inputParent">
            <div class="inputSection">
                <label>First Name</label>
                <input type="text" placeholder="Enter First Name">
            </div>
            <div class="inputSection">
                <label>Last Name</label>
                <input type="text" placeholder="Enter Last Name">
            </div>
            <div class="inputSection">
                <label>Email Address</label>
                <input type="text" placeholder="Enter Email Address">
            </div>
            <div class="inputSection">
                <label>Current Password</label>
                <input type="password">
            </div>
            <div class="inputSection">
                <label>New Password</label>
                <input type="password">
            </div>
            <div class="inputSection">
                <label>Confirm Password</label>
                <input type="password">
            </div>
        </div>
        <button>Save Changes</button>
    </form>
</div>